.bk-cb {
    display:none;
}

#p-cb1 {
    font-size:20px;
    margin:20px;
}

h1 {
    margin: 1em 0 0 0;
    color: #2e484c;
    font-family: sans-serif;
    font-size: 3em;
    text-transform: uppercase;
}
a:link {
    font-weight: bold;
    text-decoration: none;
    color: #0000cc;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #6531b1;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}
p {
    font: sans-serif;
    text-align: justify;
    text-justify: inter-word;
    width: 80%;
    max-width: 800;
}



/* lds-roller */

#lds-roller {
  text-align:center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* uploadfile */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#label-upload {
    white-space: nowrap;
    font-size: 1.5em;
    color: white;
    background-color: #f1e5e6;
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-color: #d3394c;
    border-width: 0.1em;
}
#label-upload strong {
    font-size: 0.8em;
    background-color: #d3394c;
    padding: 0.6em 0.3em 0.5em 0.1em;
}
#label-upload strong i{
    font-size: 1.5em;
}
#label-upload span {
    overflow: hidden; 
    white-space:nowrap;
    vertical-align: middle; 
    font-family: Montserrat-ThinItalic;
    font-weight: 600;
    width: 10em;
    color: #d3394c;
    display: inline-block;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#div-inputfile {
    float: left;
}
#div-inputfile:hover label,
#div-inputfile:focus label {
    border-color:  #99004c;
}
#div-inputfile:hover label strong,
#div-inputfile:focus label strong {
    background-color: #99004c;
}
#label-submit {
    font-size: 4em;
}
#label-submit span {
    color: #d196be;
}
#label-submit:hover span, 
#label-submit:focus span{
    color: #684b5f;
}
#upload-info {
    display: none;
    float: left;
    font-size: 1.3em;
    padding: 0.2em;
    width: 88%;
}

@-webkit-keyframes flicker {
0%   {background: #ff7070;}
50%  {background: pink;}
100% {background: #ff7070;}
}

@-moz-keyframes flicker {
0%   {background: #ff7070;}
50%  {background: pink;}
100% {background: #ff7070;}
}

@keyframes flicker {
0%   {background: #ff7070;}
50%  {background: pink;}
100% {background: #ff7070;}
}

@keyframes flicker-s {
0%   {background: #66cdaa;}
50%  {background: #dff0d8;}
100% {background: #66cdaa;}
}


