<div style="margin:20px; width:800px;">
<h1>An interactive explorer for ligand-receptor interaction based on single-cell RNA-Seq data </h1>
<p>Hover over the lines to see more information.</p>
<p>Inspired by the <a href="https://shiny.rstudio.com/gallery/movie-explorer.html">Shiny Movie Explorer</a>.</p>
<i>Ligand-receptor pairs data courtesy of <a href="http://fantom.gsc.riken.jp/5/suppl/Ramilowski_et_al_2015/?cultureKey=&q=5/suppl/Ramilowski_et_al_2015">Ramilowski et al., 2015</a></br>
Used with permission.</i>
<br/>
</div>

