{% extends "base.html" %}

{% block tick %}
<div onclick="tick()" class="pretty p-icon p-fill p-tada" id="p-cb1">
  <input type="checkbox" />
  <div class="state p-success">
     <i class="icon mdi mdi-check-outline"></i>
     <label>Display all</label>
  </div>
</div>
{% endblock %}

{% block footer %}
<div class="navbar-fixed-bottom">
    <div class="btn btn-info" style="border-radius:0.5em 0.5em 0em 0em; margin:0px 5px;">
        <span id="gly-ej" class="glyphicon glyphicon-eject" 
         data-toggle="collapse" href="#collapseOne" style="font-size:2em;"></span>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-group" id="accordion" style="margin:0px 5px;">
           <div class="panel panel-info" style="border-top-left-radius:0em;">
                <div class="panel-heading" style="margin:1px 0px;">
                    <h4 class="panel-title">I'm the panel title</h4>
                </div>
                <div class="panel-body" style="background-color:#f2f2ff; padding:0; height:400px; overflow:scroll">
                   {% include "pairTable.html" %} 
		</div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ flask_server }}/statics/js/main.js"></script>
{% endblock %}
